{{> head}}
{{> navbar}}

<div class="row m-4">
    <div class="col-8 ">
        <h1>About Page</h1>
        <p>Soy Pablo Marino, desarrollador web.</p>
        <p>Estoy aprendiendo a utilizar Nodejs con Express 
            para crear el backend de mis aplicaciones. Espero pronto
            poder entender lo necesario para trabajar como fullstack.
        </p>
    </div>
    <div class="col-4 ">
        <img src={{imagen}} class="img-thumbnail" alt="imagen">
    </div>
</div>



{{> footer}}